
<table class="table table-hover">
        <tr>
            <td width="80%" style="font-family: Segoe UI Light;">
                <h3>
                <a href="{{url_for('product', id=product.id)}}" class="headers">
                {{product.name}} <br>
                </a></h3>
                <a href="{{ url_for('user', username=product.seller.username) }}">
                Seller: {{product.seller.username}}
                </a><br>
                Stock Left: {{product.stock}}
                <br>
                Ratings: {{product.avg_ratings}} / 5
            </td>
            <td style="font-size: 45px; font-family: Neuton">
                <label style="font-size: 15px; vertical-align: text-top; ">$</label>{{product.price}}
            </td>
        </tr>
    </table>
