
<table class="table table-hover">
        <tr>
            <td width="80%" style="font-family: Segoe UI Light;">
                <h3>
                <a href="{{url_for('product', id=product.id)}}" class="headers">
                {{product.name}} <br>
                </a></h3>
                <a href="{{ url_for('user', username=product.seller.username) }}">
                Seller: {{product.seller.username}}
                </a><br>
                Stock Left: {{product.stock}}
                <br>
                {% if product.avg_ratings %}
                Ratings: {{'%.1f' % product.avg_ratings}} / 5
                {% else %}
                Ratings: {{product.avg_ratings}} / 5
                {% endif %}
            </td>
            <td style="font-size: 45px; font-family: Neuton">
                <label style="font-size: 15px; vertical-align: text-top; ">$</label>{{'%.2f' % product.price}}
                {% if product.seller.id == current_user.id %}
                  <a href="{{url_for('deleteproduct', product_id=product.id)}}">Delete</a>
                {% endif %}
            </td>
        </tr>
    </table>
