{% extends "base.html" %}

{% block app_content %}
  <h1 class="headers">Product Details</h1>
  <br>
  <div style="display: flex; flex-direction: row; justify-content: flex-start;">
    <img width = "270px;" src="{{url_for('static', filename=product.image_url)}}" alt="image">
    <p style="margin-left: 50px; margin-top: 30px;">
      <strong>Name:</strong> {{product.name}} <br>
      <strong>Price:</strong> ${{'%.2f' % product.price}} <br>
      <strong>Stock Left:</strong> {{product.stock}} <br>
      {% if product.avg_ratings %}
      <strong>Ratings:</strong> {{'%.1f' % product.avg_ratings}} / 5
      {% else %}
      <strong>Ratings:</strong> {{product.avg_ratings}} / 5
      {% endif %}
      <br>
      <a href="{{url_for('user', username=product.seller.username)}}">
        <strong>Sold by:</strong> {{product.seller.username}} <br>
      </a>
    </p>
  </div>
  <div>
    <br>
  <h2 class="headers">Reviews</h2>
    {% for review in reviews %}
      {% include '_review.html' %}
    {% endfor %}
  </div>
  <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Previous reviews
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    More reviews <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
  {% if product.seller.id != current_user.id%}
    <br>
    <a href="{{url_for('review', product_id = product.id)}}">Add a review!</a>
    <br>
    <br>
    <br>
    <br>
  {% endif %}
{% endblock %}
