{% extends "base.html" %}

{% block content %}
  <h1>Product Details</h1>
  <p>
    Name: {{product.name}} <br>
    Price: {{product.price}} <br>
    Stock Left: {{product.stock}} <br>
    Ratings: {{product.avg_ratings}} <br>
  </p>

  <div>
  <h2>Reviews</h2>
    {% for review in product.review %}
      {% include '_review.html' %}
    {% endfor %}
  </div>
  {% if product.seller.id != current_user.id%}
    <a href="{{url_for('review', product_id = product.id)}}">Add a review</a>
  {% endif %}
{% endblock %}
