{% extends 'base.html' %}


{% block app_content %}
  <h1 style="font-family: Segoe UI Semibold;">{{user.username.upper()}}'s Profile</h1>
  <br>
  <h2 style="font-family: Segoe UI Semibold;">Products Sold</h2>
  {% for product in products %}
    {% include '_product.html' %}
  {% endfor %}


  <nav aria-label="...">
          <ul class="pager">
              <li class="previous{% if not product_prev_url %} disabled{% endif %}">
                  <a href="{{ product_prev_url or '#' }}">
                      <span aria-hidden="true">&larr;</span> Previous products
                  </a>
              </li>
              <li class="next{% if not product_next_url %} disabled{% endif %}">
                  <a href="{{ product_next_url or '#' }}">
                      More products <span aria-hidden="true">&rarr;</span>
                  </a>
              </li>
          </ul>
      </nav>
  <br>
  {% if user.id == current_user.id%}
    <a href="{{url_for('newproduct')}}"> Add new product </a>
    <br>
    <br>
  {% endif %}
  <h2 style="font-family: Segoe UI Semibold;">Reviews Given</h2>
  {% for review in reviews %}
    {% include '_review.html' %}
  {% endfor %}
  <nav aria-label="...">
          <ul class="pager">
              <li class="previous{% if not review_prev_url %} disabled{% endif %}">
                  <a href="{{ review_prev_url or '#' }}">
                      <span aria-hidden="true">&larr;</span> Previous reviews
                  </a>
              </li>
              <li class="next{% if not review_next_url %} disabled{% endif %}">
                  <a href="{{ review_next_url or '#' }}">
                      More reviews <span aria-hidden="true">&rarr;</span>
                  </a>
              </li>
          </ul>
      </nav>
{% endblock %}
