{% extends 'base.html' %}


{% block content %}
  <h2>Products Sold</h2>
  {% for product in products %}
    {% include '_product.html' %}
  {% endfor %}
  {% if product_prev_url %}
    <a href="{{ product_prev_url }}">Previous</a>
  {% endif %}
  {% if product_next_url %}
    <a href="{{ product_next_url }}">Next</a>
  {% endif %}
  {% if user == current_user %}
    <br><a href="{{url_for('newproduct')}}">Add Product</a>
  {% endif %}
  <h2>Reviews Given</h2>
  {% for review in reviews %}
    {% include '_review.html' %}
  {% endfor %}
  {% if review_prev_url %}
    <a href="{{ review_prev_url }}">Previous</a>
  {% endif %}
  {% if review_next_url %}
    <a href="{{ review_next_url }}">Next</a>
  {% endif %}
{% endblock %}
